[submodule "public/assets/angular/awesome-edit"]
	path = public/assets/angular/awesome-edit
	url = https://github.com/Jonybang/awesome-edit.git
[submodule "public/assets/angular/--force"]
	path = public/assets/angular/--force
	url = https://github.com/Jonybang/awesome-edit.git
