/* Page structure */
ui-view {
  min-height: 100%; }

/* Fix collapsed main nav */
md-sidenav.flex-5 md-toolbar {
  text-align: center; }

md-sidenav.flex-5 > md-list-item .md-list-item-inner > md-icon {
  margin-left: 15px !important; }

md-sidenav.flex-5 .md-list-item-text {
  display: none; }

/* Fix icon position when md-list-item with menu*/
md-sidenav md-list-item.md-2-line md-icon.md-avatar-icon {
  margin-top: 16px !important; }

/* Fix scrollbars */
body > ui-view > md-sidenav, body > ui-view > md-content {
  overflow-x: hidden; }

/* Helpers */
.margin-top {
  margin-top: 15px; }

.no-margin {
  margin: 0; }

.padding {
  padding: 8px; }

/* Fix inputs */
label {
  width: 100%;
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px; }

.markdown-input.form-control {
  height: 200px; }

input.form-control[type=checkbox] {
  height: 21px;
  width: 21px;
  position: relative;
  /*top: 5px;*/ }

/* Drag and drop lists */
ul ul[dnd-list] {
  padding-left: 20px; }

ul[dnd-list], ul[dnd-list] > li {
  position: relative; }

ul[dnd-list] > li {
  cursor: pointer; }

ul[dnd-list] > li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
  ul[dnd-list] > li.dndPlaceholder {
    overflow: visible;
    height: 20px;
    background: #e4e4e4; }

ul[dnd-list] > li:hover > a {
  text-decoration: underline; }

ul.child_pages.empty {
  height: 25px;
  bottom: -2px;
  margin-top: -18px; }

.cke_top {
  border-bottom: 1px solid #ccc !important; }

.fixed-fabs-container {
  position: relative; }

.fixed-fabs .md-button.md-fab {
  position: fixed; }

.fixed-fabs .md-fab:nth-child(1) {
  top: 65px; }

.fixed-fabs .md-fab:nth-child(2) {
  top: 125px; }

md-input-container label {
  font-size: 17px; }

md-pagination-wrapper {
  width: auto !important; }

h3 {
  margin: 12px; }

h5 {
  margin: 8px; }

md-toast.md-success-toast-theme .md-toast-content {
  background-color: #00838f; }

md-toast.md-error-toast-theme .md-toast-content {
  background-color: #d81b60; }

md-toast.md-warn-toast-theme .md-toast-content {
  background-color: #ef6c00; }

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
  min-width: 300px !important; }
