<div>
    <span ng-hide="chosen_mode">Add image: <br></span>

    <span ng-hide="chosen_mode && chosen_mode != 'upload'">
        <file-field ng-model="uploadFile" preview="previewImage" ng-click="chosen_mode = 'upload'">
            <span class="glyphicon glyphicon-upload"></span> Choose file
        </file-field>
    </span>

    <button class="btn btn-default" ng-show="chosen_mode == 'upload'" ng-click="clearInputs()">
        <span class="glyphicon glyphicon-remove"></span>
    </button>

    <span ng-hide="chosen_mode"> or </span>

    <span ng-hide="chosen_mode">
        <button class="btn btn-default" ng-click="chosen_mode = 'paste-link'">
            <span class="glyphicon glyphicon-globe"></span> paste link
        </button>
    </span>

    <div class="row" ng-show="chosen_mode == 'paste-link'">
        <div class="col-xs-10">
            <input type="text" placeholder="Paste link" class="form-control" ng-model="imageUri" autofocus>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-default" ng-click="clearInputs()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </div>

</div>

<div class="margin-top">
    <img ng-show="chosen_mode == 'upload'" ng-src="{{previewImage}}" class="img-responsive">

    <img ng-show="chosen_mode == 'paste-link'" ng-src="{{imageUri}}" class="img-responsive">
</div>